.key {
  position: relative;
  z-index: 2;
  color: white;
  border: none;
}

.number,
.dot {
  width: 50px;
  height: 50px;
  font-weight: 500;
  font-size: 1.3rem;
  border-radius: 50%;
  border: 0px;
  background: linear-gradient(130deg, #727272, #ffffff, #727272);
}

.number::before,
.dot::before {
  position: absolute;
  content: " ";
  width: 46px;
  height: 46px;
  border-radius: 50%;
  z-index: -1;
  right: 2px;
  bottom: 2px;
  background: radial-gradient(circle, #a0a0a0 15%, #606060);
}

.dot {
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

.number:active::before,
.dot:active::before {
  background: radial-gradient(circle, #737373 15%, #444444);
}

.operator {
  width: 50px;
  height: 61px;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 17px;
  background: linear-gradient(180deg, #e4e4e4, #949494, #e4e4e4, #949494);
}

.operator::before {
  content: " ";
  position: absolute;
  width: 46px;
  height: 59px;
  border-radius: 17px;
  z-index: -1;
  right: 2px;
  bottom: 1.5px;
  background: radial-gradient(circle, #b6b6b6 35%, #666666);
}

.operator:active::before {
  background: radial-gradient(circle, #737373, #444444);
}

.equal {
  position: relative;
  font-size: 2.1rem;
  font-weight: bolder;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(180deg, #52d73d, #000000, #52d73d);
  color: #52d73d;
}

.equal::before {
  content: "";
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  bottom: 2px;
  right: 2px;
  z-index: -1;
  background: radial-gradient(circle, #e3e3e3, #a8a8a8);
}

.equal:active::before {
  background: radial-gradient(circle, #c0bfbf, #676767);
}

.reset {
  width: 125px;
  height: 46px;
  border-radius: 17px;
  font-size: 2rem;
  font-weight: 600;
  grid-area: -2 / -3 / -1 / -2;
  background: linear-gradient(180deg, #1c02bb 12%, #010f4d, #1c02bb);
}

.reset::before {
  content: "";
  position: absolute;
  width: 121px;
  height: 43px;
  border-radius: 17px;
  z-index: -1;
  right: 2px;
  bottom: 2px;
  background: radial-gradient(circle, #022dc5 10%, #0b055c);
}

.reset:active::before {
  background: radial-gradient(circle, #042082, 54%, #1e1e1e);
}

@media (orientation: landscape) and (max-width: 714px) {
  .number,
  .dot,
  .equal {
    width: 35px;
    height: 35px;
    font-size: 1rem;
    padding-top: 4px;
  }

  .number::before,
  .dot::before,
  .equal::before {
    width: 31px;
    height: 31px;
  }

  .operator {
    width: 55px;
    height: 35px;
    font-size: 1.2rem;
  }

  .operator::before {
    width: 52px;
    height: 31.2px;
    right: 1.2px;
    bottom: 2px;
  }

  .reset {
    width: 100px;
    height: 36px;
    font-size: 1.1rem;
    grid-area: -2 / -2;
  }

  .reset::before {
    width: 96px;
    height: 33px;
  }
}

@media (min-width: 715px) {
  .number,
  .dot,
  .equal {
    width: 90px;
    height: 90px;
    font-size: 2rem;
    padding-top: 4px;
  }

  .number::before,
  .dot::before,
  .equal::before {
    width: 86px;
    height: 86px;
  }

  .operator {
    width: 120px;
    height: 70px;
    font-size: 2.5rem;
  }

  .operator::before {
    width: 117px;
    height: 67px;
    right: 1.7px;
    bottom: 2px;
  }

  .reset {
    width: 160px;
    height: 70px;
    font-size: 2rem;
    grid-area: -2 / -2;
  }

  .reset::before {
    width: 157px;
    height: 67px;
  }
}
