.key {
  position: relative;
  z-index: 2;
  color: white;
  border: none;
}

.number,
.dot {
  width: 65px;
  height: 65px;
  font-weight: 500;
  font-size: 1.3rem;
  border-radius: 50%;
  border: 0px;
  background: linear-gradient(130deg, #727272, #ffffff, #727272);
}

.number::before,
.dot::before {
  position: absolute;
  content: " ";
  width: 61px;
  height: 61px;
  border-radius: 50%;
  z-index: -1;
  right: 2px;
  bottom: 2px;
  background: radial-gradient(circle, #a0a0a0 15%, #606060);
}

.dot {
  display: flex;
  font-size: 50px;
  justify-content: center;
}

.number:active::before,
.dot:active::before {
  background: radial-gradient(circle, #737373 15%, #444444);
}

.operator {
  width: 61px;
  height: 72px;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 17px;
  background: linear-gradient(180deg, #e4e4e4, #949494, #e4e4e4, #949494);
}

.operator::before {
  content: " ";
  position: absolute;
  width: 55px;
  height: 68px;
  border-radius: 17px;
  z-index: -1;
  right: 3px;
  bottom: 2.5px;
  background: radial-gradient(circle, #b6b6b6 35%, #666666);
}

.operator:active::before {
  background: radial-gradient(circle, #737373, #444444);
}

.equal {
  position: relative;
  font-size: 2.1rem;
  font-weight: bolder;
  z-index: 2;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background: linear-gradient(180deg, #52d73d, #000000, #52d73d);
  color: #52d73d;
}

.equal::before {
  content: " ";
  position: absolute;
  width: 58px;
  height: 56px;
  border-radius: 50%;
  bottom: 2px;
  right: 1px;
  z-index: -1;
  background: radial-gradient(circle, #e3e3e3, #a8a8a8);
}

.equal:active::before {
  background: radial-gradient(circle, #c0bfbf, #676767);
}

.reset {
  width: 140px;
  height: 61px;
  border-radius: 17px;
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(180deg, #1c02bb 12%, #010f4d, #1c02bb);
  margin-left: auto;
  margin-right: 20px;
}

.reset::before {
  content: "";
  position: absolute;
  width: 136px;
  height: 58px;
  border-radius: 17px;
  z-index: -1;
  right: 2px;
  bottom: 2px;
  background: radial-gradient(circle, #022dc5 10%, #0b055c);
}

.reset:active::before {
  background: radial-gradient(circle, #042082, 54%, #1e1e1e);
}
