.screen {
  font-size: 2rem;
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: end;
  border: 1px solid;
  background-image: url("../../../public/cheng-3-E5ac0oudiJQ-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.textBox {
  width: 100%;
  text-align: end;
  background-color: rgb(14, 14, 14);
  color: white;
  font-family: "Lato", sans-serif;
}
