.screen {
  display: flex;
  height: 25vh;
  width: 100%;
  font-size: 2rem;
  align-items: flex-end;
  background-image: url("../../../public/cheng-3-E5ac0oudiJQ-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.textBox {
  width: 100%;
  height: auto;
  text-align: end;
  background-color: rgb(14, 14, 14);
  color: white;
  font-family: "Lato", sans-serif;
}

@media (min-width: 715px) {
  .screen {
    font-size: 3.5rem;
  }

  .textBox {
    padding-right: 15%;
  }
}
